{% extends 'Tasksapp/base.html' %}

{% block title %}Авторизация{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    <body>
        <br>
        <div class="container bg-white p-5" style="width:500px;">
            <h4> Login to your account </h4>
            <br>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <br> <br>
                <button type="submit" class="btn btn-warning btn-lg w-100 btn-block p-4"> Login </button>
            </form>

        </div>
        <br>
    </body>

{% endblock content %}