{% extends 'Tasksapp/base.html' %}

{% block title %}
    Создайте или обновите задачу
{% endblock title %}

{% block content %}
<div class="container-fluid text-start border border-5 border-warning">
    <form action="{% url 'create_task' %}" method="post">
        {% csrf_token %}
        <div class="form-group my-2">
            <font color="yellow">
            {{ form.as_p }}
            </font>
            <button type="submit">Создать задачу</button>
        </div>
    </form>
</div>
{% endblock content %}
