{% extends 'Tasksapp/base.html' %}

{% block title %}Домашняя страница{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    {% if user.count > 0 %}
<table class="table table-striped table-border text-start">
    <thead>
        <tr>
            <th>Задача</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in user %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock content %}